.fltr-list {
    // width: calc(( 100% - 30px ) / 2); 
  display: flex;
  list-style: none;
  gap: 30px;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;


  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

body {
background-image: url(/src/images/bg/bg1-1x.jpg);
}
.card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.wrap {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
 &:hover {
  border: 1px solid #86E543;
box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
 }
}

.card-item {
  // border: 1px solid tomato;
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
  // &:hover {
  //   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
  //     1px 4px 6px rgba(0, 0, 0, 0.16);
  // }
}

.card-sign {

  padding: 8px 20px;

}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
font-weight: 600;
font-size: 22px;
line-height: calc(26 / 22);

color: #86E543;
}

.prices {
  display: flex;
  justify-content: space-between;
  
}

.old-price{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
  text-decoration: line-through;
}

.new-price {
  font-weight: 600;
font-size: 20px;
line-height: 2;
color: #86E543;
}
.card-top-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color:#01383A;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: 1000ms;
  overflow: auto;
  .card-item:hover & {
    transform: translateY(0);
  }
}
