// .blog {}

// .blog-container {}

// .container {}

// .blog__title {}

// .title {}

// .blog__icon-line {}

// .blog__list {}

// .list {}

// .blog__item {}

// .blog__img {}

// .blog__item-title {}

// .blog__text-wrap {}

// .blog__author {}

// .blog__date {}

// .blog__description {}

// .blog__link {}

// .link {}

// .blog__slider {}