

.blog {

    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: 1280px) {
        padding-left: 40px;
        padding-right: 40px;
                }

}

.blog__title {
    
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;

    color: #FFFFFF;

    margin-bottom: 4px;

    @media screen and (min-width: 768px) {
        font-size: 56px;
        padding-left: 99px;
        margin-bottom: 11px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 56px;
        padding-left: 142px;
        margin-bottom: 8px;
    }
    
}

.super-line-wrap {
    display: flex;
    width: 100%;
    
    &:last-child {
        margin-bottom: 20px;
    }
    @media screen and (min-width: 768px) {
        &:last-child {
            margin-bottom: 40px;
        }
    }

    @media screen and (min-width: 1280px) {
        &:last-child {
            margin-bottom: 48px;
        }
    }

}

.super-line1 {
    width: 121px;
    height: 8px;
    border: 1px solid #7BE34A;
    box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
    border-left: transparent;
    border-top: transparent;
    margin-left: -15px;

    @media screen and (min-width: 768px) {
        width: 350px;
    }
}

.super-line2 {

    width: 100%;
    height: 1px;
    border: 1px solid #7BE34A;
    border-left: transparent;
    border-top: transparent;
    margin-bottom: 3px;
    box-shadow: 0px 4px 25px rgba(123, 227, 74, 0.25);
    margin-right: -15px;


}

.super-line3 {
    width: 125px;
    height: 8px;
    border: 1px solid #28780D;
    border-left: transparent;
    border-top: transparent;
    margin-left: -15px;
    margin-top: -4px;
    box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
    
    @media screen and (min-width: 768px) {
            width: 355px;
        }
}

.super-line4 {
    width: 100%;
    height: 1px;
    border: 1px solid #28780D;
    border-left: transparent;
    border-top: transparent;
    margin-top: -4px;
    margin-bottom: 48px;
    box-shadow: 0px 4px 25px rgba(40, 120, 13, 0.25);
    margin-right: -15px;
}

.blog__list {
    margin-bottom: 48px;
    
    @media screen and (min-width: 1280px) {
        margin-bottom: 35px;
            }
            
    @media screen and (min-width: 1280px) {
        margin-bottom: 48px;
            }

}

.blog__item {
    
    &:not(:last-child) {
        margin-bottom: 24px;
    }

            @media screen and (min-width: 768px) {
                &:not(:last-child) {
                        margin-bottom: 40px;
                    }
                }
            
        @media screen and (min-width: 1280px) {
            display: flex;
            justify-content: space-between;
            }
}

.blog__item-wrap {

    @media screen and (min-width: 1280px) {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-right: 40px;
    }
}

.blog__item-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.16;
    color: #FFFFFF;
    margin-bottom: 16px;

    @media screen and (min-width:768px) {
        font-size: 56px;
        line-height: 1;
        
    }

    @media screen and (min-width:768px) {
        margin-bottom: 52px;
        
    }
}

.blog__article-wrap {
    display: block;

    @media screen and (max-width: 767px) {
        // min-height: 473px;
        margin-top: auto;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-end;
    }


}
.blog__img-wrap {

        @media screen and (max-width: 767px) {
            margin-left: -15px;
            margin-right: -15px;

            margin-bottom: 8px;
        }
}

.blog__image {

    @media screen and (min-width: 768px) {
        border-radius: 12px;
    }
}

.blog__img {
    // width: 480px;
    width: 100vw;
    margin-bottom: 8px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        // max-width: 387px;
        
    }

    @media screen and (min-width: 1280px) {
        display: none;
    }
}

.blog__img--desk {
    display: none;
        @media screen and (min-width: 1280px) {

                display: block;
                min-height: 364px;
                min-width: 387px;
                margin-right: 121px;
                padding-left: 40px;
                
                
            }


}

.blog__text-wrap {

    @media screen and (min-width:768px) {
        margin-left: 40px;
        
    }

        @media screen and (min-width:1280px) {
        display: flex;
        margin-left: 0;
        width: 100%;
        justify-content: space-between;
        align-items: stretch;
        
    }
}

.blog__author {

    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #FFFFFF;
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
        margin-bottom: 32px;
    }
}

.blog__date {

    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    color: #8D9289;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}

.blog__description {

    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;

    color: #FFFFFF;
    margin-bottom: 8px;
    // width: 288px;


    @media screen and (min-width: 768px) {
        font-size: 24px;
        line-height: 1.17;
        display: block;
    }

        @media screen and (min-width: 1280px) {
            display: flex;
        }
}

.blog__link {

    font-weight: 600;
    font-size: 16px;
    line-height: 1;
    text-decoration: none;

    color: #86E543;
    display: flex;
    justify-content: end;

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }
}

.blog__loader {
    position: relative;
    width: 100px;
    height: 16px;
    margin: 0 auto;
}

.dot {
    width: 16px;
    height: 16px;
    border-radius: 30px;
    background: #FFFFFF;
    position: absolute;
    animation-duration: 2.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.dot1 {
    width: 40px;
    height: 16px;
    border-radius: 30px;
    transition: width 0.5s ease, border-radius 0.5s ease;
}

.dot2 {
    width: 16px;
    height: 16px;
    opacity: 1;
    border-radius: 50%;
    transition: width 0.5s ease, border-radius 0.5s ease;

}

.dot3 {
    left: 1.5em;
}


@keyframes reveal {
    from {
        transform: scalex(1);
    }

    to {
        transform: scalex(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(50px)
    }
}


.dot1 {
    animation-name: reveal;
}

.dot2,
.dot3 {
    animation-name: slide;
}