.btn__start-shopping {
  width: 173px;
  height: 51px;

  background: #86e543;
  border-radius: 16px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;

  text-align: center;
  text-transform: uppercase;
cursor: pointer;
  color: #01383a;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
      0px 4px 10px rgba(255, 255, 255, 0.1);
  }

  @include tablet {
    width: 306px;
    height: 70px;

    font-size: 32px;
  }
}
