.btn__filter {
  width: 124px;
  height: 35px;

  background: transparent;

  border: 1px solid #86e543;
  filter: drop-shadow(0px 4px 4px rgba(134, 229, 67, 0.2));
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  cursor: pointer;
  text-align: center;
  color: #86e543;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #01383a;
    background-color: #86e543;
    border: 1px solid #86e543;
    box-shadow: 0px 4px 10px rgba(134, 229, 67, 0.1),
      0px 4px 20px rgba(134, 229, 67, 0.4);
  }

  @include tablet {
    width: 132px;
    height: 51px;
  }

  @include desktop {
    width: 168px;
    height: 51px;
  }
}
