.btn__shop-now {
  width: 102px;
  height: 46px;
  text-align: center;

  color: #000000;
  background: #86e543;
  border-radius: 16px;
  border: none;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5),
      0px 4px 10px rgba(255, 255, 255, 0.1);
  }

  @include desktop {
    width: 102px;
    height: 46px;
  }
}
