@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Roboto', 'Open Sans';
}

main {
  padding-top: 104px;

  @include tablet {
    padding-top: 136px;
  }
}

.link {
  text-decoration: none;
}
