.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
