.footer {
    display: flex;
    background-color: #001414;
    padding-top: 25px;
    padding-bottom: 24px;
    @media screen and (min-width: 1200px) {
        width: 100%;
        text-align: justify;
    }
}
.footer__container {
    width: 100%;
    display: inline-block;
    justify-content: start;
    align-content: center;
    position: relative;
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 135px;
        display: flex;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 135px;
        justify-content: space-between;
    }
}

.footer__caption {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    margin-left: 0;
    margin-bottom: 25px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 61px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 118px;
    }
}

.footer__logo-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-navigation {
    @media screen and (min-width: 768px) {
        margin-right: 98px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 217px;
    }
}

.footer-navigation__item {
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-navigation__link{
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
}

.footer-social-list {
    position: absolute;
    align-content:space-around;
    left: 82.46%;
    right: 10.04%;
    top: 26.43%;
    bottom: 39.65%;
    @media screen and (min-width: 768px) {
        position: static;
        display: flex;
        gap: 16px;
        margin-right: 73px;
    }
    @media screen and (min-width: 1280px) {
        display: block;
        width: 24px;
        margin-right: 281px;
    }
}

.footer-social-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 16px;
    width: 24px;
    height: 24px;
    margin-bottom: 32px;
    @media screen and (min-width:768px) {
        margin-bottom: 0;
    }
    @media screen and (min-width:1280px) {
        margin-bottom: 16px;
        margin-right: 281px;
    }
}

.footer-social-list__item:last-child {
    margin-bottom: 0;
}

.contact-footer {
    // @media screen and (min-width: 768px) {
    //     margin-left: auto;
    //     // margin-right: 0;
    // }
    @media screen and (min-width: 768px) {
        margin-left: 0;
        // margin-right: 0;
    }
}

.contact-footer__caption {
    font-size: 16px;
    line-height: 1.19;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.contact-footer__mail {
    margin-bottom: 16px;
}

.contact-footer__mail {
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #8D9289;
    text-decoration: none;
}

.contact-footer__tel {
    list-style: none;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #8D9289;
    margin-bottom: 8px;
}
.contact-footer__tel:last-child {
    margin-bottom: 0;
}