.footer {
    width: 100%;
    display: flex;
    background-color: #001414;
    padding-top: 25px;
    padding-bottom: 24px;
    justify-content: center;
    @media screen and (min-width: 768px) {
        width: 100%;
        justify-content: center;
        text-align: justify;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media screen and (min-width: 1280px) {
        width: 100%;
        text-align: justify;
        justify-content: space-evenly;
    }
}
.footer__container {
    width: 100%;
    display: block;
    justify-content: start;
    align-content: center;
    position: relative;
    margin-left: 16px;
    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        height: 135px;
        display: flex;
        margin-left: 40px;
        margin-right: 50px;
    }
    @media screen and (min-width: 1280px) {
        width: 1280px;
        height: 135px;
        justify-content: center;
        margin-left: 40px;
        margin-right: 178px;
    }
}

.footer__caption {
    width: 116px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    color: #FFFFFF;
    margin-bottom: 25px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 61px;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 118px;
    }
}

.footer__logo-link {
    display: block;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.footer-navigation {
    margin-bottom: 24px;
    @media screen and (min-width: 768px) {
        margin-right: 98px;
        margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
        margin-right: 217px;
        margin-bottom: 0;
    }
}

.footer-navigation__item {
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.footer-navigation__link{
    text-decoration: none;
    font-size: 16px;
    line-height: 100%;
    color: #FFFFFF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-navigation__link:hover,
.footer-navigation__link:focus {
    color: #86E543;
    text-shadow: 0 4px 10px #86E543;
}

.footer-social-list {
    position: absolute;
    align-content:space-around;
    left: 82.46%;
    right: 10.04%;
    top: 26.43%;
    bottom: 39.65%;
    @media screen and (min-width: 768px) {
        position: static;
        display: flex;
        gap: 16px;
        margin-right: 73px;
    }
    @media screen and (min-width: 1280px) {
        display: block;
        width: 24px;
        margin-right: 281px;
    }
}

.footer-social-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 16px;
    width: 24px;
    height: 24px;
    margin-bottom: 32px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media screen and (min-width:768px) {
        margin-bottom: 0;
    }
    @media screen and (min-width:1280px) {
        margin-bottom: 16px;
        margin-right: 281px;
    }
}

.footer-social-list__item:hover {
    background: #86E543;
}

.footer-social-list__item:last-child {
    margin-bottom: 0;
}

.footer-social-list__link {
    padding: 5px;
}

.link__soc-icon {
    width: 12px;
    vertical-align: middle;
}

.contact-footer {
    @media screen and (min-width: 768px) {
        margin-left: 0;
    }
}

.contact-footer__caption {
    font-size: 16px;
    line-height: 1.19;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.contact-footer__mail {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #8D9289;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer__mail:hover {
    color: #86E543;
    text-shadow: 0 4px 10px #86E543;
}

.contact-footer__tel {
    list-style: none;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #8D9289;
    margin-bottom: 8px;
    text-decoration: none;
}

.tel__link {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #8D9289;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer__tel:last-child {
    margin-bottom: 0;
}

.tel__link:hover {
    color: #86E543;
    text-shadow: 0 4px 10px #86E543;
}