.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 20, 20, 0.8);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        & .modal {
            transform: translate(-50%, -50%);
            opacity: 0;
            background-color: #01383A;
            ;
        }
    }
}

.modal {
    position: absolute;
    overflow: auto;
    padding: 100px 29px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 48px);
    height: auto;

    @media screen and (min-width: 480px) {
        width: 436px;
    }

    @media screen and (min-width: 768px) {
        width: 688px;
        height: auto;
        padding: 100px 25px;
    }

    @media screen and (min-width: 1200px) {
        width: 768px;
        height: auto;
    }

    opacity: 1;
    background: #01383A;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dagger-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 31px;
    height: 31px;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border: 1.5px solid #86E543;
    border-radius: 50%;
    cursor: pointer;
    fill: #86E543;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
    }
}

.modal-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
        font-size: 56px;
        line-height: 1.2;
        margin-bottom: 56px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 80px;
    }

    color: #FFFFFF;
}

.modal-btn {
    width: 173px;
    height: 51px;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    text-transform: uppercase;
    display: block;
    align-items: center;

    @media screen and (min-width: 768px) {
        font-size: 32px;
        line-height: 1.2;
        width: 306px;
        height: 70px;
    }

    color: #01383A;
    background-color: #86E543;
    border-radius: 16px;
    border-color: transparent;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
        box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
    }
}

.modall-btn {
    background-color: #fff;
}