.link {
  text-decoration: none;
}

.sale {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/bg/bg1-1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/bg/bg1-2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/bg/bg1-tab-1x.jpg);
    // padding-left: 65px;
    // padding-right: 65px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg/bg1-tab-2x.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/bg/bg1-desk-1x.jpg);
    // padding-left: 25px;
    // padding-right: 25px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/bg/bg1-desk-2x.jpg);
    }
  }
}

.sale__header {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
  padding-left: 63px;
  @media screen and (min-width: 768px) {
    font-size: 56px;
    line-height: 1.17;
    padding-left: 102px;
  }
}

.sale__image {
  border-radius: 12px;
  margin-bottom: 8px;
}

.sale__column1 {
  flex-direction: column;
}

.sale__column2 {
  flex-direction: column;
  @media screen and (max-width: 767px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.sale__column3 {
  flex-direction: column;
}

.sale__column4 {
  flex-direction: column;
  @media screen and (max-width: 767px) {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: column-reverse;
    gap: 44px;
  }
}
.sale__column1,
.sale__column2,
.sale__column3,
.sale__column4 {
  display: flex;
  gap: 52px;
  @media screen and (min-width: 768px) {
    width: calc((100% - 160px) / 2);
    gap: 44px;
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 160px) / 4);
    gap: 44px;
  }
}

.sale__item8 {
  margin-bottom: 25px;
}

.sale__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 0;
  justify-content: center;
  // width: 100%;
  // @media screen and (min-width: 768px) {
  //   width: calc((100% - 160px) / 2);
  // }
  // @media screen and (min-width: 1280px) {
  //   width: calc((100% - 80px) / 4);
  // }
  // @media screen and (min-width: 768px) {
  //   gap: 38px;
  // }
  // @media screen and (min-width: 1280px) {
  //   gap: 20px;
  // }
}

.sale__name {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
}

.sale-about {
  display: flex;
  padding-right: 35px;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  margin-top: 8px;
  padding-right: 35px;
}

.sale__discount {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  text-decoration-line: line-through;
  color: #8d9289;
}

.sale__price {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #86e543;
}

.sale__btn {
  display: flex;
  justify-content: center;
  margin-top: 47px;
}

// .sale__link {
//   font-weight: 700;
//   font-size: 28px;
//   line-height: 1.17;
//   color: #01383a;
//   text-align: center;
//   width: 195px;
//   height: 65px;
//   background: #ffffff;
//   border-radius: 16px;
//   text-align: center;
//   text-decoration: none;
//   padding-top: 16px;
// }
