// body {
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;

//     @media screen and (min-width: 320px) {
//         background-image: url(../images/bg/bg1-1x.jpg);

//         @media screen and (min-device-pixel-ratio: 2),
//         screen and (min-resolution: 192dpi),
//         scren and (min-resolution: 2dppx) {
//             background-image: url(../images/bg/bg1-2x.jpg);
//         }
//     }

//     @media screen and (min-width: 768px) {
//         background-image: url(../images/bg/bg1-tab-1x.jpg);

//         @media screen and (min-device-pixel-ratio: 2),
//         screen and (min-resolution: 192dpi),
//         scren and (min-resolution: 2dppx) {
//             background-image: url(../images/bg/bg1-tab-2x.jpg);
//         }
//     }

//     @media screen and (min-width: 1280px) {
//         background-image: url(../images/bg/bg1-desk-1x.jpg);

//         @media screen and (min-device-pixel-ratio: 2),
//         screen and (min-resolution: 192dpi),
//         scren and (min-resolution: 2dppx) {
//             background-image: url(../images/bg/bg1-desk-2x.jpg);
//         }
//     }
// }

.take-order__section {
padding-bottom: 48px;

@include tablet {
    padding-bottom: 120px;
}

@include desktop {
    padding-bottom: 120px;
}
}

.take-order__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    
    color: #FFFFFF;

    @media screen and (min-width: 320px) {
        font-size: 32px;
        line-height: 1.19;
        padding-left: 15px;
        padding-top: 40px;
    }

    @media screen and (min-width: 768px) {
        font-size: 56px;
        line-height: 1.18;
        padding-left: 99px;
        padding-top: 120px;
    }

    @media screen and (min-width: 1280px) {
        padding-left: 142px;
        padding-top: 120px;
    }
}

.superlinewrap {
    width: 100%;
    display: flex;
}

.superline1 {
    width: 350px;
    height: 8px;
    border: 1px solid #86e543;
    border-top: #0000;
    border-left: #0000;
    margin-left: -15px;

    @media screen and (min-width: 320px) {
        width: 350px;
    }

    @media screen and (min-width: 768px) {
        width: 850px;
    }

    // @media screen and (min-width: 1280px) {
        
    // }
}

.superline2 {
    width: 100%;
    height: 1px;
    border: 1px solid #7be34a;
    border-top: #0000;
    border-left: #0000;
    margin-bottom: 3px;
    margin-right: -15px;
    box-shadow: 0 4px 25px #7be34a40;
}

.superline3 {
    width: 365px;
    height: 8px;
    border: 1px solid #28780d;
    border-top: #0000;
    border-left: #0000;
    margin-top: -5px;
    margin-left: -15px;
    box-shadow: 0 4px 25px #28780d40;

    @media screen and (min-width: 320px) {
        width: 350px;
    }

    @media screen and (min-width: 768px) {
        width: 850px;
    }

    // @media screen and (min-width: 1280px) {
        
    // }
}

.superline4 {
    width: 100%;
    height: 1px;
    border: 1px solid #28780d;
    border-top: #0000;
    border-left: #0000;
    margin-top: -5px;
    margin-bottom: 20px;
    margin-right: -15px;
    box-shadow: 0 4px 25px #28780d40;
}

.take-order__div {
    @media screen and (max-width: 767px) {
        width: 288px;
        margin: 0 auto;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 688px;

        margin: 0 auto;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
        width: 100%;
        align-items: flex-end;
    }
}

.take-order__div1 {
    @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;

        margin: 0 auto;

        align-items: center;
    }

    @media screen and (min-width: 1280px) {
        flex-direction: row;
    }
}

.take-order__div2 {
    @media screen and (min-width: 768px) {
        display: flex;
        width: 100%;

        margin: 0 auto;
    }
}

.take-order__div3 {
    @media screen and (min-width: 1280px) {
        width: 100%;
        height: auto;
        margin-right: 120px;
    }
}

.take-order__div4 {
    @media screen and (min-width: 320px) and (max-width: 767px) {
        display: flex;
        justify-content: space-between;
    }

    @media screen and (min-width: 1280px) {
        position: absolute;
        display: flex;
        align-items: baseline;
        right: 220px;
        top: 140px;
    }
}

// .image-upline {
//     fill: #7BE34A;

//     margin-left: -25px;
//     min-width: 100vw;

//     @media screen and (min-width: 320px) {
//         margin-top: -8px;
//         margin-bottom: 3px;
//     }

//     @media screen and (min-width: 768px) {
//         margin-top: -18px;
//         margin-bottom: 8px;
//     }

//     @media screen and (min-width: 1280px) {
//         margin-top: -30px;
//         margin-bottom: 8px;
//     }
// }

// .image-downline {
//     fill: #28780D;

//     margin-left: -25px;
//     min-width: 100vw;

//     @media screen and (min-width: 320px) {
//         margin-top: -17px;
//         margin-bottom: 24px;
//     }

//     @media screen and (min-width: 768px) {
//         margin-top: -45px;
//         margin-bottom: 24px;
//     }

//     @media screen and (min-width: 1280px) {
//         margin-bottom: 48px;
//         margin-top: -70px;
//     }
// }

.take-order-div {
    position: relative;
}

.take-order__title1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;

    color: #FFFFFF;

    @media screen and (min-width: 320px) {
        font-size: 32px;
        line-height: 1.18;
        text-align: center;
    }

    @media screen and (min-width: 768px) {
        font-size: 56px;
        line-height: 1.17;
        text-align: center;
    }

    @media screen and (min-width: 1280px) {
        position: absolute;
        right: 35px;

        font-size: 48px;
        line-height: 1.17;
        max-width: 690px;
    }
}

.take-order__photo {
    display: block;

    @media screen and (min-width: 320px) {
        width: 288px;
        height: 254px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 768px) {
        width: 387px;
        height: 346px;
        margin-bottom: 24px;
        margin-right: 40px;
    }

    @media screen and (min-width: 1280px) {
        width: 100%;
        height: auto;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 25px;
        margin-right: 0;
    }
}

.take-order__title2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    text-decoration-line: line-through;
        
    color: #8D9289;

    @media screen and (min-width: 320px) {
        font-size: 16px;
    }

    @media screen and (min-width: 768px) {
        font-size: 24px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 24px;
        margin-right: 70px;
    }
}

.take-order__title3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    color: #86E543;

    @media screen and (min-width: 320px) {
        font-size: 32px;
    }

    @media screen and (min-width: 768px) {
        font-size: 48px;

        margin-top: 56px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 48px;

        margin-top: 0;
    }
}

.take-order__list {
    @media screen and (min-width: 320px) {
        display: flex;
        gap: 16px;
        margin-top: 16px;
    }

    @media screen and (min-width: 768px) {
        gap: 24px;
    }

    @media screen and (min-width: 1280px) {
        gap: 24px;
        margin-right: 25px;
    }
}

.take-order__item {
    @media screen and (min-width: 320px) {
        flex-basis: calc((100% - 48px) / 4);
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        flex-basis: calc((100% - 72px) / 4);
    }
}

.take-order__photo--secondary {
    display: block;

    @media screen and (min-width: 320px) {
        width: 60px;
        height: 62px;
    }

    @media screen and (min-width: 768px) {
        width: 155px;
        height: 160px;
    }

    @media screen and (min-width: 1280px) {
        width: 155px;
        height: 160px;
    }
}

.take-order-form {

    @media screen and (min-width: 320px) {
        max-width: 288px;
        margin: 0 auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        max-width: 590px;
        margin: 0 auto;
    }

    @media screen and (min-width: 1280px) {
        max-width: 1210px;
    }
}

.take-order-form__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    
    color: #86E543;

    @media screen and (min-width: 320px) {
        margin-top: 32px;
        margin-bottom: 16px;

        font-size: 24px;
        line-height: 1.17;
    }

    @media screen and (min-width: 768px) {
        margin-top: 48px;
        margin-bottom: 24px;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 48px;
        margin-bottom: 48px;
    }
}

.take-order-form__div {
    @media screen and (min-width: 1280px) {
        display: flex;
        gap: 20px;
    }
}

.take-order-form__div1 {
    @media screen and (min-width: 1280px) {
        flex-basis: calc((100% - 20px) / 2);
    }
}

.take-order-form__div2 {
    @media screen and (min-width: 1280px) {
        flex-basis: calc((100% - 20px) / 2);
    }
}

.take-order-form__label {
    display: flex;
    flex-direction: column;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    color: #FFFFFF;
    
    @media screen and (min-width: 320px) {
        font-size: 16px;
        line-height: 1.25;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.11;
    }

    @media screen and (min-width: 1280px) {
        font-size: 18px;
        line-height: 1.11;
    }
}

.take-order-form__input {
    margin-bottom: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    color: #FFFFFF;

    &::placeholder {
        color: #FFFFFF;
    }

    border: none;
    border-bottom: 2px solid #86E543;
    background-color: transparent;
    outline: transparent;
    
    @media screen and (min-width: 320px) {
        font-size: 16px;
        line-height: 1.25;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.11;
    }

    @media screen and (min-width: 1280px) {
        font-size: 18px;
        line-height: 1.11;
    }
}

.take-order-form__input:focus,
.take-order-form__input:hover {
    background-color: #17573D;
    outline: transparent;
}

.take-order-form__select {
    margin-bottom: 40px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    color: #FFFFFF;

    &::placeholder {
        color: #FFFFFF;
    }

    border: none;
    border-bottom: 2px solid #86E543;
    background-color: transparent;
    outline: transparent;
    
    @media screen and (min-width: 320px) {
        font-size: 16px;
        line-height: 1.25;
    }

    @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.11;
    }

    @media screen and (min-width: 1280px) {
        font-size: 18px;
        line-height: 1.11;
    }
}

.take-order-form__select:focus,
.take-order-form__select:hover {
    background-color: #17573D;
    outline: transparent;
}

.take-order-form__textarea {
    border: 2px solid #86E543;
    background-color: transparent;
    outline: transparent;
    resize: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    
    color: #FFFFFF;
}

.take-order-form__textarea:focus,
.take-order-form__textarea:hover {
    background-color: #17573D;
    outline: transparent;
}

.button__div {
    @media screen and (min-width: 1280px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
}

.take-order-form__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    @media screen and (min-width: 320px) {
        margin-top: 24px;
        margin-bottom: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 1280px) {
        margin-top: 48px;
        gap: 20px;
        max-width: 306px;
        margin-left: 0;
        margin-right: 0;
    }
}