@import '~node_modules/modern-normalize/modern-normalize.css';
.example {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  background-image: url("../images/logo.png");
  background-size: cover;
  background-position: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.wrap {
  position: relative;
  overflow: hidden;
}

.card-item {
  text-decoration: none;
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
}
.card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-sign {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 24px 20px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.card-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
}

.card-top-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: 1000ms;
  overflow: auto;
}
.card-item:hover .card-top-text {
  transform: translateY(0);
}

.footer {
  background-color: #001414;
  padding-top: 25px;
  padding-bottom: 24px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.sale {
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media screen and (max-width: 767px) {
  .sale__item2,
.sale__item4,
.sale__item6,
.sale__item8 {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.sale {
  padding-left: 2px;
  padding-right: 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/bg/bg1-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .sale {
    background-color: url(../images/bg/bg1-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .sale {
    background-image: url(../images/bg/bg1-tab-1x.jpg);
    padding-left: 65px;
    padding-right: 65px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .sale {
    background-color: url(../images/bg/bg1-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .sale {
    background-image: url(../images/bg/bg1-desk-1x.jpg);
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .sale {
    background-color: url(../images/bg/bg1-desk-2x.jpg);
  }
}

.sale__header {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.17;
  color: #ffffff;
  padding-left: 80px;
}
@media screen and (min-width: 768px) {
  .sale__header {
    padding-left: 142px;
  }
}

.sale__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .sale__list {
    gap: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .sale__list {
    gap: 20px;
  }
}

.sale__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .sale__item {
    width: calc((100% - 160px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .sale__item {
    width: calc((100% - 80px) / 4);
  }
}

.sale__name {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
}

.sale__discount {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8d9289;
}

.sale__price {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #86e543;
}

.sale__btn {
  display: flex;
  justify-content: center;
}

.sale__link {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  color: #01383a;
  text-align: center;
  margin: 16px 48px;
  width: 195px;
  height: 65px;
  background: #ffffff;
  border-radius: 16px;
  text-align: center;
  text-decoration: none;
  padding: 16px 48px;
}/*# sourceMappingURL=index.css.map */