@import '~node_modules/modern-normalize/modern-normalize.css';
img {
  display: block;
  max-width: 100%;
  height: auto;
  align-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

/**
 * Swiper 8.4.4
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 12, 2022
 */
@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

body {
  background: #01383a;
}

.swiper__main-title {
  width: 0;
  height: 0;
}

.swiper {
  height: 548px;
  margin-bottom: 48px;
  background: #01383a;
}

.swiper-wrapper {
  position: relative;
}

.slide-img__wrapper {
  text-align: center;
  min-height: 100%;
}

.swiper-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1666666667;
  max-width: 591px;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(270deg, #1edde0 13.26%, #8bda41 51.01%, #ef001b 107.89%);
  position: absolute;
  left: 24px;
  bottom: 37px;
}
@media screen and (min-width: 768px) {
  .swiper-title {
    font-size: 56px;
    line-height: 1.1785714286;
    left: 41px;
    bottom: 14px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-title {
    left: 49px;
    bottom: 49px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-title.center {
    left: 50%;
    transform: translateX(-50%);
  }
}

.swiper-title > span {
  text-transform: uppercase;
}

.swiper-slide__image {
  position: relative;
  height: 498px;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .swiper-slide__image {
    height: 507px;
    max-width: 1280px;
  }
}

.swiper-slide__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 1279px) {
  .swiper-slide__image img {
    height: 498px;
  }
}
@media screen and (min-width: 1280px) {
  .swiper-slide__image img {
    -o-object-fit: none;
       object-fit: none;
    height: 507px;
  }
}

.swiper-pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000000;
  width: 104px;
  display: flex;
  justify-content: space-between;
}

.swiper-pagination-bullet {
  display: inline-block;
  background-color: #fff;
  width: 16px;
  height: 16px;
  opacity: 1;
  border-radius: 50%;
  cursor: pointer;
  transition: width 0.5s ease, border-radius 0.5s ease;
}

.swiper-pagination-bullet-active {
  width: 40px;
  height: 16px;
  border-radius: 30px;
  transition: width 0.5s ease, border-radius 0.5s ease;
}

.swiper-slide {
  max-height: 498px;
  min-width: 100%;
}

.btn__add-to-card {
  width: 173px;
  height: 51px;
  border: 1px solid #86e543;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: uppercase;
  color: #86e543;
  background: transparent;
}
.btn__add-to-card:hover, .btn__add-to-card:focus {
  filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1)) drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
}
@media screen and (min-width: 768px) {
  .btn__add-to-card {
    font-size: 32px;
    width: 306px;
    height: 70px;
  }
}

.btn__filter {
  width: 124px;
  height: 35px;
  background: transparent;
  border: 1px solid #86e543;
  filter: drop-shadow(0px 4px 4px rgba(134, 229, 67, 0.2));
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #86e543;
}
.btn__filter:hover, .btn__filter:focus {
  filter: drop-shadow(0px 4px 10px rgba(134, 229, 67, 0.1)) drop-shadow(0px 4px 20px rgba(134, 229, 67, 0.4));
}
.btn__filter:checked {
  background: #86e543;
}
@media screen and (min-width: 768px) {
  .btn__filter {
    width: 132px;
    height: 51px;
  }
}
@media screen and (min-width: 1280px) {
  .btn__filter {
    width: 168px;
    height: 51px;
  }
}

.btn__primary {
  width: 173px;
  height: 51px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 20px;
  color: #01383a;
  background: #86e543;
  border-radius: 16px;
}
.btn__primary:hover, .btn__primary:focus {
  box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 768px) {
  .btn__primary {
    font-size: 32px;
    width: 306px;
    height: 70px;
  }
}

.btn__send {
  width: 306px;
  height: 70px;
  border: 1px solid #ffffff;
  border-radius: 16px;
  background: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.btn__send:hover, .btn__send:focus {
  filter: drop-shadow(0px 4px 10px rgba(255, 255, 255, 0.1)) drop-shadow(0px 4px 20px rgba(255, 255, 255, 0.4));
}
@media screen and (min-width: 768px) {
  .btn__send {
    width: 306px;
    height: 70px;
    font-size: 32px;
  }
}

.btn__shop-now {
  width: 102px;
  height: 46px;
  text-align: center;
  color: #000000;
  background: #86e543;
  border-radius: 16px;
  border: none;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
}
.btn__shop-now:hover, .btn__shop-now:focus {
  box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 1280px) {
  .btn__shop-now {
    width: 102px;
    height: 46px;
  }
}

.btn__start-shopping {
  width: 173px;
  height: 51px;
  background: #86e543;
  border-radius: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-transform: uppercase;
  color: #01383a;
  border: none;
}
.btn__start-shopping:hover, .btn__start-shopping:focus {
  box-shadow: 0px 8px 20px rgba(134, 229, 67, 0.5), 0px 4px 10px rgba(255, 255, 255, 0.1);
}
@media screen and (min-width: 768px) {
  .btn__start-shopping {
    width: 306px;
    height: 70px;
    font-size: 32px;
  }
}

.btn__view-all {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  padding: 16px 48px;
  background: #ffffff;
  border-radius: 16px;
  color: #01383a;
  cursor: pointer;
}
.btn__view-all:hover, .btn__view-all:focus {
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5), 0px 4px 10px rgba(134, 229, 67, 0.1);
}
@media screen and (min-width: 768px) {
  .btn__view-all {
    font-size: 28px;
  }
}

.footer {
  background-color: #001414;
  padding-top: 25px;
  padding-bottom: 24px;
}

.accessories {
  background-image: url(/src/images/bg/bg1-1x.jpg);
}
@media screen and (min-width: 480px) {
  .accessories {
    background-image: url(/src/images/bg/bg1-1x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .accessories {
    background-image: url(/src/images/bg/bg1-tab-1x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .accessories {
    background-image: url(/src/images/bg/bg1-desk-1x.jpg);
  }
}

.fltr-list {
  display: flex;
  list-style: none;
  gap: 30px;
}

.card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 36px;
}
@media screen and (min-width: 768px) {
  .card-list {
    -moz-column-gap: 38px;
         column-gap: 38px;
    row-gap: 47px;
  }
}
@media screen and (min-width: 1280px) {
  .card-list {
    row-gap: 47px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

.wrap {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}
.wrap:hover {
  border: 1px solid #86e543;
  box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
}

.card-item {
  text-decoration: none;
  display: block;
  max-width: 285px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 1, 0.2, 1);
}

.card-sign {
  padding: 8px 10px;
}

.card-title {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.1818181818;
  color: #86e543;
  max-width: 285px;
}

.prices {
  display: flex;
  justify-content: space-between;
}

.old-price {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
  text-decoration: line-through;
}

.new-price {
  font-weight: 600;
  font-size: 20px;
  line-height: 2;
  color: #86e543;
}

.card-top-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background-color: #01383a;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: 1000ms;
  overflow: auto;
}
.card-item:hover .card-top-text {
  transform: translateY(0);
}

.contacts-bottext {
  display: flex;
}

.contacts-toptext {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.contacts-picture {
  padding-top: 35px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .contacts-picture {
    padding-top: 67px;
    padding-bottom: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .contacts-picture {
    padding-top: 75px;
    padding-bottom: 58px;
  }
}

.incase-text {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}

.incase-email {
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  color: #ffffff;
}

.contacts-email {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-transform: capitalize;
  color: #8d9289;
}

.contacts-tel {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.17;
  text-transform: capitalize;
  color: #8d9289;
}

.link {
  text-decoration: none;
}

.sale {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/bg/bg1-1x.jpg);
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .sale {
    background-image: url(../images/bg/bg1-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .sale {
    background-image: url(../images/bg/bg1-tab-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .sale {
    background-image: url(../images/bg/bg1-tab-2x.jpg);
  }
}
@media screen and (min-width: 1280px) {
  .sale {
    background-image: url(../images/bg/bg1-desk-1x.jpg);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .sale {
    background-image: url(../images/bg/bg1-desk-2x.jpg);
  }
}

.sale__header {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  color: #ffffff;
  padding-left: 63px;
}
@media screen and (min-width: 768px) {
  .sale__header {
    font-size: 56px;
    line-height: 1.17;
    padding-left: 102px;
  }
}

.sale__image {
  border-radius: 12px;
  margin-bottom: 8px;
}

.sale__column1 {
  flex-direction: column;
}

.sale__column2 {
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .sale__column2 {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.sale__column3 {
  flex-direction: column;
}

.sale__column4 {
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .sale__column4 {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}
@media screen and (min-width: 1280px) {
  .sale__column4 {
    flex-direction: column-reverse;
    gap: 44px;
  }
}

.sale__column1,
.sale__column2,
.sale__column3,
.sale__column4 {
  display: flex;
  gap: 52px;
}
@media screen and (min-width: 768px) {
  .sale__column1,
.sale__column2,
.sale__column3,
.sale__column4 {
    width: calc((100% - 160px) / 2);
    gap: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .sale__column1,
.sale__column2,
.sale__column3,
.sale__column4 {
    width: calc((100% - 160px) / 4);
    gap: 44px;
  }
}

.sale__item8 {
  margin-bottom: 25px;
}

.sale__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-left: 0;
  justify-content: center;
}

.sale__name {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.18;
  color: #86e543;
}

.sale-about {
  display: flex;
  padding-right: 35px;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  margin-top: 8px;
  padding-right: 35px;
}

.sale__discount {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8d9289;
}

.sale__price {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #86e543;
}

.sale__btn {
  display: flex;
  justify-content: center;
  margin-top: 47px;
}

.blog-article-section {
  background-color: #ff0000;
}

.take-order__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) {
  .take-order__title {
    font-size: 32px;
    line-height: 1.19;
    padding-left: 15px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .take-order__title {
    font-size: 56px;
    line-height: 1.18;
    padding-left: 99px;
    padding-top: 120px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__title {
    padding-left: 142px;
    padding-top: 120px;
  }
}

@media screen and (max-width: 767px) {
  .take-order__div {
    width: 288px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .take-order__div {
    display: flex;
    flex-direction: column;
    width: 688px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .take-order__div1 {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__div1 {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .take-order__div2 {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .take-order__div4 {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__div4 {
    display: flex;
    align-items: baseline;
  }
}

.image-upline {
  fill: #7BE34A;
}
@media screen and (min-width: 320px) {
  .image-upline {
    margin-top: 4px;
    margin-bottom: 3px;
  }
}
@media screen and (min-width: 768px) {
  .image-upline {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
@media screen and (min-width: 1280px) {
  .image-upline {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}

.image-downline {
  fill: #28780D;
}
@media screen and (min-width: 320px) {
  .image-downline {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) {
  .image-downline {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .image-downline {
    margin-bottom: 48px;
  }
}

.take-order__title1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) {
  .take-order__title1 {
    font-size: 32px;
    line-height: 1.18;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .take-order__title1 {
    font-size: 56px;
    line-height: 1.17;
    text-align: center;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__title1 {
    font-size: 56px;
    line-height: 1.17;
  }
}

.take-order__photo {
  display: block;
}
@media screen and (min-width: 320px) {
  .take-order__photo {
    width: 288px;
    height: 254px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .take-order__photo {
    width: 387px;
    height: 346px;
    margin-bottom: 24px;
    margin-right: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__photo {
    width: 387px;
    height: 346px;
  }
}

.take-order__title2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #8D9289;
}
@media screen and (min-width: 320px) {
  .take-order__title2 {
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .take-order__title2 {
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__title2 {
    font-size: 24px;
  }
}

.take-order__title3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  color: #86E543;
}
@media screen and (min-width: 320px) {
  .take-order__title3 {
    font-size: 32px;
  }
}
@media screen and (min-width: 768px) {
  .take-order__title3 {
    font-size: 48px;
    margin-top: 56px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__title3 {
    font-size: 48px;
  }
}

@media screen and (min-width: 320px) {
  .take-order__list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }
}
@media screen and (min-width: 768px) {
  .take-order__list {
    gap: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__list {
    gap: 24px;
  }
}

@media screen and (min-width: 320px) {
  .take-order__item {
    flex-basis: calc((100% - 48px) / 4);
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .take-order__item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

.take-order__photo--secondary {
  display: block;
}
@media screen and (min-width: 320px) {
  .take-order__photo--secondary {
    width: 60px;
    height: 62px;
  }
}
@media screen and (min-width: 768px) {
  .take-order__photo--secondary {
    width: 155px;
    height: 160px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order__photo--secondary {
    width: 155px;
    height: 160px;
  }
}

@media screen and (min-width: 320px) {
  .take-order-form {
    max-width: 288px;
    height: 563px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .take-order-form {
    max-width: 590px;
    height: 690px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .take-order-form {
    max-width: 1180px;
  }
}

.take-order-form__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  color: #86E543;
}
@media screen and (min-width: 320px) {
  .take-order-form__title {
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 24px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 768px) {
  .take-order-form__title {
    margin-top: 48px;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .take-order-form__title {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .take-order-form__div {
    display: flex;
    gap: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .take-order-form__div1 {
    height: 280px;
    flex-basis: calc((100% - 20px) / 2);
  }
}

@media screen and (min-width: 1280px) {
  .take-order-form__div2 {
    height: 280px;
    flex-basis: calc((100% - 20px) / 2);
  }
}

.take-order-form__label {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}
@media screen and (min-width: 320px) {
  .take-order-form__label {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 768px) {
  .take-order-form__label {
    font-size: 18px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 1280px) {
  .take-order-form__label {
    font-size: 18px;
    line-height: 1.11;
  }
}

.take-order-form__input {
  margin-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
  border: none;
  border-bottom: 2px solid #86E543;
  background-color: transparent;
  outline: transparent;
}
.take-order-form__input::-moz-placeholder {
  color: #FFFFFF;
}
.take-order-form__input:-ms-input-placeholder {
  color: #FFFFFF;
}
.take-order-form__input::placeholder {
  color: #FFFFFF;
}
@media screen and (min-width: 320px) {
  .take-order-form__input {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 768px) {
  .take-order-form__input {
    font-size: 18px;
    line-height: 1.11;
  }
}
@media screen and (min-width: 1280px) {
  .take-order-form__input {
    font-size: 18px;
    line-height: 1.11;
  }
}

.take-order-form__input:focus,
.take-order-form__input:hover {
  background-color: #17573D;
  outline: transparent;
}

.take-order-form__textarea {
  border: 2px solid #86E543;
  background-color: transparent;
  outline: transparent;
  resize: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #FFFFFF;
}

.take-order-form__textarea:focus,
.take-order-form__textarea:hover {
  background-color: #17573D;
  outline: transparent;
}

@media screen and (min-width: 1280px) {
  .button__div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }
}

.take-order-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@media screen and (min-width: 320px) {
  .take-order-form__button {
    margin-top: 24px;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .take-order-form__button {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1280px) {
  .take-order-form__button {
    margin-top: 48px;
    gap: 20px;
    max-width: 306px;
    margin-left: 0;
    margin-right: 0;
  }
}/*# sourceMappingURL=index.css.map */