<section class="accessories ">
        <div class="container">
        <ul class="fltr-list ">
            <li><button type="button" class="fltr-button" ><span class="fltr-txt">All</span> </button></li>
            <li><button type="button" class="fltr-button" ><span class="fltr-txt">Headsets</span></button></li>
            <li><button type="button" class="fltr-button" ><span class="fltr-txt">Keyboards</span> </button></li>
            <li><button type="button"  class="fltr-button"><span class="fltr-txt">Mouses</span> </button></li>
        </ul> 
        </div>

 <div class="container">
    <h2>All accessories</h2>
          <ul class="card-list" >
  <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                                srcset="/src/images/accessories/picture1-1x.jpg 1x
                                /src/images/accessories/picture1-2x.jpg 2x "
                                media="(max-width: 480)"
                                />
                                <source
                                srcset="/src/images/accessories/picture3-1x.jpg 1x
                                /src/images/accessories/picture3-2x.jpg 2x "
                                media="(min-width: 720)"
                                />
                                <img
                                 src="/src/images/accessories/picture1-1x.jpg"
                                  alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <div class="prices">
                              <p class="old-price">102$</p>
                        <p class="new-price">23$</p>
                        </div>
                      
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                                srcset="/src/images/accessories/picture1-1x.jpg 1x
                                /src/images/accessories/picture1-2x.jpg 2x "
                                media="(max-width: 480)"
                                />
                                <source
                                srcset="/src/images/accessories/picture3-1x.jpg 1x
                                /src/images/accessories/picture3-2x.jpg 2x "
                                media="(min-width: 720)"
                                />
                                <img
                                 src="/src/images/accessories/picture2-1x.jpg"
                                  alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <div class="prices">
                              <p class="old-price">102$</p>
                        <p class="new-price">23$</p>
                        </div>
                    </div>
                </a>
            </li>
                        <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                                srcset="/src/images/accessories/picture1-1x.jpg 1x
                                /src/images/accessories/picture1-2x.jpg 2x "
                                media="(max-width: 480px)"
                                />
                                <source
                                srcset="/src/images/accessories/picture3-1x.jpg 1x
                                /src/images/accessories/picture3-2x.jpg 2x "
                                media="(min-width: 720px)"
                                />
                                <img
                                 src="/src/images/accessories/picture3-1x.jpg"
                                  alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <div class="prices">
                              <p class="old-price">102$</p>
                        <p class="new-price">23$</p>
                        </div>
                    </div>
                </a>
            </li>
                        <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                                srcset="/src/images/accessories/picture1-1x.jpg 1x
                                /src/images/accessories/picture1-2x.jpg 2x "
                                media="(max-width: 480)"
                                />
                                <source
                                srcset="/src/images/accessories/picture3-1x.jpg 1x
                                /src/images/accessories/picture3-2x.jpg 2x "
                                media="(min-width: 720)"
                                />
                                <img
                                 src="/src/images/accessories/picture4-1x.jpg"
                                  alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <div class="prices">
                              <p class="old-price">102$</p>
                        <p class="new-price">23$</p>
                        </div>
                    </div>
                </a>
            </li>
                                    <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                                srcset="/src/images/accessories/picture1-1x.jpg 1x
                                /src/images/accessories/picture1-2x.jpg 2x "
                                media="(max-width: 480)"
                                />
                                <source
                                srcset="/src/images/accessories/picture3-1x.jpg 1x
                                /src/images/accessories/picture3-2x.jpg 2x "
                                media="(min-width: 720)"
                                />
                                <img
                                 src="/src/images/accessories/picture5-1x.jpg"
                                  alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <div class="prices">
                              <p class="old-price">102$</p>
                        <p class="new-price">23$</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
      </div>
      
    </section>

</section>

