<main>
<section class="accessories ">
    <div class="container">
        <ul class="fltr-list ">
            <li class="li"><button type="button" class="btn__filter"><span class="fltr-txt">All</span> </button></li>
            <li class="li"><button type="button" class="btn__filter" ><span class="fltr-txt">Headsets</span></button></li>
            <li class="li"><button type="button" class="btn__filter" ><span class="fltr-txt">Keyboards</span> </button></li>
            <li class="li"><button type="button"  class="btn__filter"><span class="fltr-txt">Mouses</span> </button></li>
        </ul> 
    <div class="title-wrap">
        <h2 class="section-title">All accessories</h2>
    </div>
     <div class="superlinewrap">
      <div class="superline1"></div>
      <div class="superline2"></div>
    </div>

    <div class="superlinewrap">
      <div class="superline3"></div>
      <div class="superline4"></div>
    </div>
        <ul class="card-list  " >
            <li class="card cars">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
          srcset="
            ./images/accessories//picture1-desk-1x.jpg 1x,
            ./images/accessories//picture1-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/accessories//picture1-tab-1x.jpg 1x,
            ./images/accessories//picture1-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/accessories/picture1-1x.jpg 1x,
            ./images/accessories/picture1-2x.jpg 2x
          "
          media="(max-width: 768px)"
        />
        <img
          src="./images/accessories/picture1-2x.jpg"
          alt=""
          width="1200px"
          class="con-pic"
        />
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <div class="prices">
                            <p class="old-price">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                        </div>
                    </div>
                            </a>
            </li>
            <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                               srcset="
            ./images/accessories//picture2-1x.jpg 1x,
            ./images/accessories//picture2-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/accessories//picture2-1x.jpg 1x,
            ./images/accessories//picture2-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/accessories/picture2-1x.jpg 1x,
            ./images/accessories/picture2-2x.jpg 2x
          "
          media="(max-width: 768px)"/>
          <img
          src="./images/accessories/picture2-2x.jpg"
          alt=""/>
          >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <div class="prices">
                            <p class="old-price">156.00 USD</p>
                        <p class="new-price">116.00 USD</p>
                        </div>
                    </div>
                </a>
            </li>
                        <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                                srcset="
            ./images/accessories//picture3-1x.jpg 1x,
            ./images/accessories//picture3-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/accessories//picture3-1x.jpg 1x,
            ./images/accessories//picture3-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/accessories/picture3-1x.jpg 1x,
            ./images/accessories/picture3-2x.jpg 2x
          "
          media="(max-width: 768px)"/>
          <img
          src="./images/accessories/picture3-2x.jpg"
          alt=""/>
          >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Steampunk Anti-Ghosting Mechanical Keyboard</h3>
                        <div class="prices">
                        <p class="old-price">82.40 USD</p>
                        <p class="new-price">62.40 USD</p>
                        </div>
                    </div>
                </a>
            </li>
                        <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                                                               srcset="
            ./images/accessories//picture4-1x.jpg 1x,
            ./images/accessories//picture4-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/accessories//picture4-1x.jpg 1x,
            ./images/accessories//picture4-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/accessories/picture4-1x.jpg 1x,
            ./images/accessories/picture4-2x.jpg 2x
          "
          media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture4-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >AULA SI9006 Gaming Mouse</h3>
                        <div class="prices">
                            <p class="old-price">89.13 USD</p>
                        <p class="new-price">64.13 USD</p>
                        </div>
                    </div>
                </a>
            </li>
                                    <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                 <source
                                    srcset="
            ./images/accessories//picture5-1x.jpg 1x,
            ./images/accessories//picture5-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories//picture5-1x.jpg 1x,
            ./images/accessories//picture5-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture5-1x.jpg 1x,
            ./images/accessories/picture5-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture5-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Malloom 1200 DPI 2.4Ghz Wireless Mouse</h3>
                        <div class="prices">
                            <p class="old-price">44.24 USD</p>
                        <p class="new-price">29.93 USD</p>
                        </div>
                    </div>
                </a>
            </li>
                                    <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                        <source
                                    srcset="
            ./images/accessories//picture6-1x.jpg 1x,
            ./images/accessories//picture6-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories//picture6-1x.jpg 1x,
            ./images/accessories//picture6-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture6-1x.jpg 1x,
            ./images/accessories/picture6-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture6-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title ">DARSHION 3200 DPI MZ-17 Gaming Mouse</h3>
                        <div class="prices">
                            <p class="old-price">48.00 USD</p>
                        <p class="new-price">32.00 USD</p>
                        </div>
                    </div>
                </a>
            </li>
                                    <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                        <source
                                    srcset="
            ./images/accessories/picture8-tab-2x.jpg 1x,
            ./images/accessories/picture8-tab-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories/picture8-tab-2x.jpg 1x,
            ./images/accessories/picture8-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture8-tab-2x.jpg 1x,
            ./images/accessories/picture8-tab-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture8-tab-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Mouse</h3>
                        <div class="prices">
                            <p class="old-price">102$</p>
                        <p class="new-price">23$</p>
                        </div>
                    </div>
                </a>
            </li>
                                    <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                               <source
                                    srcset="
            ./images/accessories/picture10-tab-2x.jpg 1x,
            ./images/accessories/picture10-tab-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories/picture10-tab-2x.jpg 1x,
            ./images/accessories/picture10-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture10-tab-2x.jpg 1x,
            ./images/accessories/picture10-tab-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture10-tab-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K11 PRO PC  Keyboard</h3>
                        <div class="prices">
                            <p class="old-price">102$</p>
                        <p class="new-price">23$</p>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
                    <ul class="card-list " >
                    <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                                    srcset="
            ./images/accessories/picture12-tab-2x.jpg 1x,
            ./images/accessories/picture12-tab-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories/picture12-tab-2x.jpg 1x,
            ./images/accessories/picture12-tab-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture12-tab-2x.jpg 1x,
            ./images/accessories/picture12-tab-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture12-tab-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsulm dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia X4 PRO Keyboard</h3>
                        <div class="prices">
                            <p class="old-price">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                        </div>
                    </div>
                </a>
            </li>
            <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                                    srcset="
            ./images/accessories/picture16-desk-2x.jpg 1x,
            ./images/accessories/picture16-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories/picture16-desk-2x.jpg 1x,
            ./images/accessories/picture16-desk-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture16-desk-2x.jpg 1x,
            ./images/accessories/picture16-desk-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture16-desk-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Niberia K9 Keyboard</h3>
                        <div class="prices">
                            <p class="old-price">156.00 USD</p>
                        <p class="new-price">116.00 USD</p>
                        </div>
                    </div>
                </a>
            </li>
                        <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                <source
                                    srcset="
            ./images/accessories/picture6-desk-2x.jpg 1x,
            ./images/accessories/picture6-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories/picture6-desk-2x.jpg 1x,
            ./images/accessories/picture6-desk-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture6-desk-2x.jpg 1x,
            ./images/accessories/picture6-desk-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture6-desk-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Steampunk Anti-Ghosting Mechanical Keyboard</h3>
                        <div class="prices">
                            <p class="old-price">82.40 USD</p>
                        <p class="new-price">62.40 USD</p>
                        </div>
                    </div>
                </a>
            </li>
                        <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                               <source
                                    srcset="
            ./images/accessories/picture11-desk-2x.jpg 1x,
            ./images/accessories/picture11-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories/picture11-desk-2x.jpg 1x,
            ./images/accessories/picture11-desk-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture11-desk-2x.jpg 1x,
            ./images/accessories/picture11-desk-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture11-desk-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >AULA SI9006 Gaming Headset</h3>
                        <div class="prices">
                            <p class="old-price">89.13 USD</p>
                        <p class="new-price">64.13 USD</p>
                        </div>
                    </div>
                </a>
            </li>
                                    <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                                 <source
                                    srcset="
            ./images/accessories/picture10-desk-2x.jpg 1x,
            ./images/accessories/picture10-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories/picture10-desk-2x.jpg 1x,
            ./images/accessories/picture10-desk-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture10-desk-2x.jpg 1x,
            ./images/accessories/picture10-desk-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture10-desk-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Malloom 2.4Ghz Wireless Headset</h3>
                        <div class="prices">
                            <p class="old-price">44.24 USD</p>
                        <p class="new-price">29.93 USD</p>
                        </div>
                    </div>
                </a>
            </li>
                                    <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                               <source
                                    srcset="
            ./images/accessories/picture12-desk-2x.jpg 1x,
            ./images/accessories/picture12-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories/picture12-desk-2x.jpg 1x,
            ./images/accessories/picture12-desk-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture12-desk-2x.jpg 1x,
            ./images/accessories/picture12-desk-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture12-desk-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title ">DARSHION 3200 DPI MZ-17 Gaming Headset</h3>
                        <div class="prices">
                            <p class="old-price">48.00 USD</p>
                        <p class="new-price">32.00 USD</p>
                        </div>
                    </div>
                </a>
            </li>
                                    <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                               <source
                                    srcset="
            ./images/accessories/picture2-desk-2x.jpg 1x,
            ./images/accessories/picture2-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories/picture2-desk-2x.jpg 1x,
            ./images/accessories/picture2-desk-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture2-desk-2x.jpg 1x,
            ./images/accessories/picture2-desk-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture2-desk-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <div class="prices">
                            <p class="old-price">102$</p>
                        <p class="new-price">23$</p>
                        </div>
                    </div>
                </a>
            </li>
                                    <li class="card">
                    <a href="./take-order.html" class="card-item">
                        <div class="wrap">
                            <picture>
                               <source
                                    srcset="
            ./images/accessories/picture15-desk-2x.jpg 1x,
            ./images/accessories/picture15-desk-2x.jpg 2x
        "
        media="(min-width: 1280px)"
        />
        <source
        srcset="
            ./images/accessories/picture15-desk-2x.jpg 1x,
            ./images/accessories/picture15-desk-2x.jpg 2x
        "
        media="(min-width: 768px)"
        />
        <source
        srcset="
            ./images/accessories/picture15-desk-2x.jpg 1x,
            ./images/accessories/picture15-desk-2x.jpg 2x
        "
        media="(max-width: 768px)"/>
                                <img
                                src="./images/accessories/picture15-desk-2x.jpg"
                                alt="laptop" >
                            </picture>
                        
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <div class="prices">
                            <p class="old-price">102$</p>
                        <p class="new-price">23$</p>
                        </div>
                    </div>
                </a>
            </li>
            
        </ul>
        <ul class="card-list " >
        </ul>
        </div >
    </section>
</section>
</main>