<section class="accessories ">
        <div class="container">
        <ul class="fltr-list ">
            <li><button type="button" class="fltr-button" ><span class="fltr-txt">All</span> </button></li>
            <li><button type="button" class="fltr-button" ><span class="fltr-txt">Headsets</span></button></li>
            <li><button type="button" class="fltr-button" ><span class="fltr-txt">Keyboards</span> </button></li>
            <li><button type="button"  class="fltr-button"><span class="fltr-txt">Mouses</span> </button></li>
        </ul> 
        </div>

 <div class="container">
    <h2>All accessories</h2>
          <ul class="card-list" >
<li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
           <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Steampunk Anti-Ghosting Mechanical Keyboard</h3>
                        <p class="old-prise">82.40 USD</p>
                        <p class="new-price">62.40 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >AULA SI9006 Gaming Mouse</h3>
                        <p class="old-prise">89.13 USD</p>
                        <p class="new-price">64.13 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Malloom 1200 DPI 2.4Ghz Wireless Mouse</h3>
                        <p class="old-prise">44.24 USD</p>
                        <p class="new-price">29.93 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >XDARSHION 3200 DPI MZ-17 Gaming Mouse</h3>
                        <p class="old-prise">48.00 USD</p>
                        <p class="new-price">32.00 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
            <li class="card">
                     <a href="" class="card-item">
                        <div class="wrap">
                        <img src="./images/logo.png" alt="laptop" width="256" height="267">
                    <p class="card-top-text">Lorem,Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Veritatis, architecto. ipsum dolor sit amet consectetur adipisicing elit. Fugiat, fuga.</p>    
                        </div>
                    
                        <div class="card-sign">
                        <h3 class="card-title " >Xiberia K9 PRO PC Headset</h3>
                        <p class="old-prise">65.14 USD</p>
                        <p class="new-price">55.14 USD</p>
                    </div>
              
                </a>
            </li>
        </ul>
      </div>
      
    </section>

</section>

