<!-- HEADER -->

<!-- BLOG MAIN CONTENT -->
<main>
  <section class="section__blog">
    <div class="blog blog-container container">
      <h1 class="blog__title title">Blog</h1>

      <div class="super-line-wrap">
        <div class="super-line1"></div>
        <div class="super-line2"></div>
      </div>

      <div class="super-line-wrap">
        <div class="super-line3"></div>
        <div class="super-line4"></div>
      </div>

      <ul class="blog__list list">
        <li class="blog__item">
          <article class="blog__article">
            <picture class="blog__img--desk">
              <source
                srcset="
                  ./images/blog/picture1-desk-1x.jpg 1x,
                  ./images/blog/picture1-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/blog/picture1-tab-1x.jpg 1x,
                  ./images/blog/picture1-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/blog/picture1-1x.jpg 1x,
                  ./images/blog/picture1-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="blog__image"
                src="./images/blog/picture1-1x.jpg"
                width="480"
                alt="photo article 1"
              />
            </picture>
            <div class="blog__item-wrap">
              <h2 class="blog__item-title title">
                Guide to Picking The Right Gaming Headset
              </h2>
              <div class="blog__article-wrap">
                <div class="blog__img-wrap">
                  <picture class="blog__img">
                    <source
                      srcset="
                        ./images/blog/picture1-desk-1x.jpg 1x,
                        ./images/blog/picture1-desk-2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./images/blog/picture1-tab-1x.jpg 1x,
                        ./images/blog/picture1-tab-2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./images/blog/picture1-1x.jpg 1x,
                        ./images/blog/picture1-2x.jpg 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      class="blog__image"
                      src="./images/blog/picture1-1x.jpg"
                      width="480"
                      alt="photo article 1"
                    />
                  </picture>
                </div>
                <div class="blog__text-wrap">
                  <p class="blog__author">By Ray Ian Ampoloquio</p>
                  <p class="blog__date">Updated on September 21, 2022</p>
                </div>
              </div>
              <p class="blog__description">
                Learn how to choose an amazing gaming headset with this
                checklist of just 9 surprisingly simple steps. Gaming headsets
                offer a handy and practical solution to any and all of your
                gaming audio needs. But, as with any kind of ...
              </p>
              <a class="blog__link link" href="./blog-article.html"
                >Learn more</a
              >
            </div>
          </article>
        </li>

        <li class="blog__item">
          <article class="blog__article">
            <picture class="blog__img--desk">
              <source
                srcset="
                  ./images/blog/picture2-desk-1x.jpg 1x,
                  ./images/blog/picture2-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/blog/picture1-tab-1x.jpg 1x,
                  ./images/blog/picture1-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/blog/picture1-1x.jpg 1x,
                  ./images/blog/picture1-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="blog__image"
                src="./images/blog/picture1-1x.jpg"
                width="480"
                alt="photo article 1"
              />
            </picture>
            <div class="blog__item-wrap">
              <h2 class="blog__item-title title">
                Mic Monitoring: What Is It and How It Is Relevant to Gaming
              </h2>
              <div class="blog__article-wrap">
                <div class="blog__img-wrap">
                  <picture class="blog__img">
                    <source
                      srcset="
                        ./images/blog/picture2-desk-1x.jpg 1x,
                        ./images/blog/picture2-desk-2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./images/blog/picture2-tab-1x.jpg 1x,
                        ./images/blog/picture2-tab-2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./images/blog/picture2-1x.jpg 1x,
                        ./images/blog/picture2-2x.jpg 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      class="blog__image"
                      src="./images/blog/picture2-1x.jpg"
                      width="480"
                      alt="photo article 2"
                    />
                  </picture>
                </div>
                <div class="blog__text-wrap">
                  <p class="blog__author">By Gab L</p>
                  <p class="blog__date">Updated on September 10, 2022</p>
                </div>
              </div>
              <p class="blog__description">
                An explanation and exploration of microphone monitoring — its
                benefits and how you can start using one of the most underrated
                features today ...
              </p>
              <a class="blog__link link" href="./blog-article.html"
                >Learn more</a
              >
            </div>
          </article>
        </li>

        <li class="blog__item">
          <article class="blog__article">
            <picture class="blog__img--desk">
              <source
                srcset="
                  ./images/blog/picture3-desk-1x.jpg 1x,
                  ./images/blog/picture3-desk-2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/blog/picture3-tab-1x.jpg 1x,
                  ./images/blog/picture3-tab-2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./images/blog/picture3-1x.jpg 1x,
                  ./images/blog/picture3-2x.jpg 2x
                "
                media="(max-width: 767px)"
              />
              <img
                class="blog__image"
                src="./images/blog/picture3-1x.jpg"
                width="480"
                alt="photo article 3"
              />
            </picture>
            <div class="blog__item-wrap">
              <h2 class="blog__item-title title">
                How to Choose the Right Gaming Mouse
              </h2>
              <div class="blog__article-wrap">
                <div class="blog__img-wrap">
                  <picture class="blog__img">
                    <source
                      srcset="
                        ./images/blog/picture3-desk-1x.jpg 1x,
                        ./images/blog/picture3-desk-2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./images/blog/picture3-tab-1x.jpg 1x,
                        ./images/blog/picture3-tab-2x.jpg 2x
                      "
                      media="(min-width: 768px)"
                    />
                    <source
                      srcset="
                        ./images/blog/picture3-1x.jpg 1x,
                        ./images/blog/picture3-2x.jpg 2x
                      "
                      media="(max-width: 767px)"
                    />
                    <img
                      class="blog__image"
                      src="./images/blog/picture3-1x.jpg"
                      width="480"
                      alt="photo article 3"
                    />
                  </picture>
                </div>
                <div class="blog__text-wrap">
                  <p class="blog__author">By Michael Crider</p>
                  <p class="blog__date">Updated on September 2, 2022</p>
                </div>
              </div>
              <p class="blog__description">
                A good mouse can make a big difference when playing your
                favorite games. Here’s what you need to know about grip styles,
                types of gaming mice, technical specs, and more, before
                purchasing a new gaming mouse ...
              </p>
              <a class="blog__link link" href="./blog-article.html"
                >Learn more</a
              >
            </div>
          </article>
        </li>
      </ul>
      <div class="blog__loader">
        <div class="dot dot1"></div>
        <div class="dot dot2"></div>
        <div class="dot dot3"></div>
      </div>
    </div>
  </section>
</main>
<!-- FOOTER -->
