<main>
  <div class="contacts contacts-container container">
    <h1 class="contacts-toptext">Сontacts</h1>
    <svg width="24" height="16">
      <use href="./images/upline.svg"></use>
    </svg>
    <ul class="contacts-picture">
      <picture>
        <source
          srcset="
            ./images/contact/picture1-desk-1x.jpg 1x,
            ./images/contact/picture1-desk-2x.jpg 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/contact/picture1-tab-1x.jpg,
            ./images/contact/picture1-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/contact/picture1-1x.jpg,
            ./images/contact/picture1-2x.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img
          src="./images/contact/picture1-desk-1x.jpg"
          alt=""
          width="1200px"
        />
      </picture>
    </ul>
    <!-- <a class="contacts-pic" href=""><img src="" alt="" /></a> -->
    <div class="contacts-bottext">
      <ul class="contacts-list">
        <li class="contacts-item">
          <h2 class="incase-text">
            In case of queries about order handling and/or delay, drop us an
            email at
          </h2>
          <h2 class="incase-email">info@shopforgamers.com</h2>
        </li>
        <li class="contacts-item">
          <h3 class="email-text">Email</h3>
          <a class="contacts-email link" href="email:sfg.info@gmail.com"
            >sfg.info@gmail.com</a
          >
        </li>
        <li class="contacts-item">
          <h3 class="tel-text">Phone number</h3>
          <a class="contacts-tel link" href="tel:+38 (093) 643 22 88"
            >+38 (093) 643 22 88</a
          >
          <a class="contacts-tel link" href="tel:+38 (050) 345 44 23"
            >+38 (050) 345 44 23</a
          >
        </li>
      </ul>
    </div>
    <form>
      <p class="form-text">CONTACT US</p>
      <label>
        <span class="form-label-text">Name</span>
        <span class="input-wrap">
          <input
            type="name"
            class="form-input"
            name="user-name"
            required
          /> </span
      ></label>
      <label>
        <span class="form-label-text">Email</span>
        <span class="input-wrap">
          <input
            type="email"
            class="modal-input"
            name="user-email"
            required
          /> </span
      ></label>
      <label>
        <span class="form-label-text">Leave your message</span>
        <textarea
          name="user-text"
          id="user-text"
          class="form-comment"
        ></textarea>
        <span class="submit-button">
          <button type="submit" class="submit-btn">SEND</button></span
        >
      </label>
    </form>
  </div>
</main>
