<main>
  <section class="contacts">
  <div class="  container">
    <h1 class="contacts-topitext">Сontacts</h1>
    
      <div class="super_linewrap">
      <div class="super_line1"></div>
      <div class="super_line2"></div>
    </div>

    <div class="super_linewrap">
      <div class="super_line3"></div>
      <div class="super_line4"></div>
    </div>
    <!-- </div> -->
     <div class="contpic-container">
      <picture class="contacts-picture">
        <source
          srcset="
            ./images/contact/picture1-desk-1x.jpg 1x,
            ./images/contact/picture1-desk-2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/contact/picture1-tab-1x.jpg,
            ./images/contact/picture1-tab-2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/contact/picture1-1x.jpg,
            ./images/contact/picture1-2x.jpg 2x
          "
          media="(max-width: 768px)"
        />
        <img
          src="./images/contact/picture1-desk-1x.jpg"
          alt=""
          width="1200"
          class="con-pic"
        />
      </picture>
      </div>

   <!-- <div class="container"> -->
          <div class="overall-wrap">
          <div class="context-container">
          <h2 class="incase-text">
            In case of queries about order handling and/or delay, drop us an
            email at 
            <br> <br>
             <a href="./index.html" class="text-link">info@shopforgamers.com </a> 
          </h2>
     
         <div class="contacts-item">
        <div class="contacts-email">
          <p class="et-text">Email</p>
          <a class="contacts-email" href="email:sfg.info@gmail.com"
            >sfg.info@gmail.com</a
          >
        </div>
        <div class="contacts-tel">
          <p class="et-text">Phone number</p>
          <a class="contacts-tel " href="tel:+38(093)643-22-88"
            >+38 (093) 643 22 88 <br> +38 (050) 345 44 23</a>
        </div>
      </div>
    </div>
    <div class="inputs-container">
      <form class="contact-form">
      <p class="form-title">CONTACT US</p>
      <label class="input-name">
          <input
            type="text"
            class="form-input"
            name="user-name"
            placeholder="Name"
            required
            /> 
          <!-- </span -->
      </label>
      <label class="input-mail">
         <input
            type="text"
            class="form-input"
            name="user-name"
            placeholder="Email"
            required/> 
      </label>
      <div class="comment-wrap">
      <label class="comment-label">
        <span class="comment-label-text">Leave your message</span>
        <textarea
          name="user-text"
          id="user-text" 
          class="comment-area">
       </textarea>
      </label>
       <span class="submit-button">
          <button type="button" class="btn__send" data-modal-send-open>SEND</button></span>
        </div>
    </form>
    </div>
    </div>
      </section>
</main>
