<footer class="footer">
  <div class="footer__container container">
    <h1 class="footer__caption">SHOP FOR GAMERS</h1>
    <div class="footer-navigation">
      <ul class="footer-navigation__list list">
        <li class="navigation__item item">Accessories</li>
        <li class="navigation__item item">Take order</li>
        <li class="navigation__item item">Contact</li>
        <li class="navigation__item item">Blog</li>
      </ul>
    </div>
    <ul class="footer-social-list list">
      <li class="footer-social-list__item item">
        <a class="footer-social-list__link link" href="">
          <svg class="link__soc-icon" width="24" height="">
            <use href="./images/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-list__item item">
        <a class="footer-social-list__link link" href="">
          <svg class="link__soc-icon" width="24" height="">
            <use href="./images/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="footer-social-list__item item">
        <a class="footer-social-list__link link" href="">
          <svg class="link__soc-icon" width="24" height="">
            <use href="./images/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="contact-footer">
      <p class="contact-footer__caption">Email</p>
      <a class="contact-footer__mail" href="">sfg.info@gmail.com</a>
      <p class="contact-footer__caption">Phone number</p>
      <ul>
        <li class="contact-footer__tel">+38 (093) 643 22 88</li>
        <li class="contact-footer__tel">+38 (050) 345 44 23</li>
      </ul>
    </div>
  </div>
</footer>
