<div class="mob-menu is-hidden" data-menu>
  <ul class="mob-menu__list">
    <li class="mob-menu__item">
      <a href="./accessoriese.html" class="mob-menu__link"> Accessories </a>
    </li>
    <li class="mob-menu__item">
      <a href="./contacts.html" class="mob-menu__link"> Contact </a>
    </li>
    <li class="mob-menu__item">
      <a href="./blog.html" class="mob-menu__link"> Blog </a>
    </li>
  </ul>
</div>
<header class="header">
  <div class="container header__container">
    <div class="head-flex">
      <a href="./index.html" class="logo header__logo">shop for<br />gamers</a>
      <div class="menu-btn">
        <button type="button" class="header__menu-btn--open" data-menu-open>
          <svg width="54px" height="36px" class="header__menu-svg">
            <use href="./images/sprite.svg#icon-menu" class="menu-open"></use>
          </svg>
        </button>
        <button type="button" class="header__menu-btn--close" data-menu-close>
          <svg width="54px" height="36px" class="header__menu-svg">
            <use href="./images/sprite.svg#cross-icon" class="menu-close"></use>
          </svg>
        </button>
      </div>
      <nav class="nav header__nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="./accessoriese.html" class="nav__link">Accessories </a>
          </li>
          <li class="nav__item">
            <a href="./contacts.html" class="nav__link">Contact </a>
          </li>
          <li class="nav__item">
            <a href="./blog.html" class="nav__link">Blog </a>
          </li>
        </ul>
      </nav>
      <a href="./accessoriese.html" class="btn__shop-now"> Shop now </a>
    </div>
  </div>
  <script type="module" src="./partials/js/_menu.js"></script>
</header>
