<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <a href="" class="logo header__logo">Shop for gamers
        </a>

    <button type="button" class="header__open-menu-btn">
        <svg width="54px" height="36px" class="header__open-menu-svg">
            <use href=""></use>
        </svg>

    <button type="button" class="header__close-menu-btn">
        <svg width="36px" height="36px" class="header__close-menu-svg">
            <use href=""></use>
        </svg>

        <div class="mob-menu">
            <ul class="mob-menu__list">
                <li class="mob-menu__item">
                    <a href="" class="mob-menu__link">
                        Accessories
                    </a>
                </li>
                <li class="mob-menu__item">
                    <a href="" class="mob-menu__link">
                        Contact
                    </a>
                </li>
                <li class="mob-menu__item">
                    <a href="" class="mob-menu__link">
                        Blog
                    </a>
                </li>
            </ul>
        </div>

        <nav class="nav header__nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="" class="nav__link">Accessories
                    </a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Contact
                    </a>
                </li>
                <li class="nav__item">
                    <a href="" class="nav__link">Blog
                    </a>
                </li>
            </ul>

            <a href="">
                Shop now
            </a>
        </nav>
    </button>
    </header>
</body>
</html>