<div class="backdrop is-hidden" data-modal-buy>
    <div class="modal">
        <button type="button" class="dagger-btn" data-modal-buy-close>
            <svg class="dagger-icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-text">Thank you<br>for your order!<br>We will contact you soon!</p>
        <a href="./accessoriese.html" class="modal-btn link">KEEP SHOPPING</a>
    </div>
</div>
<script type="module" src="./partials/js/_modal-buy.js"></script>