<div class="backdrop is-hidden" data-modal-send>
    <div class="modal">
        <button type="button" class="dagger-btn" data-modal-send-close>
            <svg class="dagger-icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-text">Thank you<br>for your message!<br>We will contact you soon!</p>
        <form action="./accessories.html">
            <button type="submit" class="modal-btn">OK</button>
        </form>

    </div>
</div>

<div class="backdrop is-hidden" data-modal-add>
    <div class="modal">
        <button type="button" class="dagger-btn" data-modal-add-close>
            <svg class="dagger-icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-text">Excellent choice!<br>Let's move on to the checkout!</p>
        <form action="./index.html">
            <button type="submit" class="modal-btn">LET'S GO</button>
        </form>

    </div>
</div>

<div class="backdrop is-hidden" data-modal-buy>
    <div class="modal">
        <button type="button" class="dagger-btn" data-modal-buy-close>
            <svg class="dagger-icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-text">Thank you<br>for your order!<br>We will contact you soon!</p>
        <form action="./accessories.html">
            <button type="submit" class="modal-btn">KEEP SHOPPING</button>
        </form>

    </div>
</div>



<script src="./partials/js/_modal-send.js"></script>

<!-- <script src="./partials/js/_modal-add.js"></script> -->
<!-- <script src="./partials/js/_modal-buy.js"></script> -->
<!-- <script src="./partials/js/_menu.js"></script> -->