<!-- Modal-contacts -->
<div class="modal-send">
    <button type="button" class="dagger-btn">
        <svg class="dagger-icon" width="11" height="11">
            <use href="../images/sprite.svg#icon-modal-close"></use>
        </svg>
    </button>
    <p class="modal-text">Thank you for your message! We will contact you soon!</p>

    <a href="" class="modal-btn>">OK</a>
</div>

<!-- Modal-take-order -->
<div class="modal-add">
    <button type="button" class="dagger-btn">
        <svg class="dagger-icon" width="11" height="11">
            <use href="../images/sprite.svg#icon-modal-close"></use>
        </svg>
    </button>
    <p class="modal-text">Excellent choice! Let's move on to the checkout!</p>

    <a href="" class="modal-btn">LET'S GO!</a>
</div>

<div class="modal-buy">
    <button type="button" class="dagger-btn">
        <svg class="dagger-icon" width="11" height="11">
            <use href="../images/sprite.svg#icon-modal-close"></use>
        </svg>
    </button>
    <p class="modal-text">Thank you for your order! We will contact you soon!</p>

    <a href="./accessoriese.html" class="modal-btn">KEEP SHOPPING</a>
</div>