<div class="backdrop is-hidden" data-modal-send>
    <div class="modal">
        <button type="button" class="dagger-btn" data-modal-send-close>
            <svg class="dagger-icon" width="18" height="18">
                <use href="./images/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <p class="modal-text">Thank you<br>for your message!<br>We will contact you soon!</p>
        <a href="./accessoriese.html" class="modal-btn link"> <span class="ok">OK</span> </a>
    </div>
</div>
<script type="module" src="./partials/js/_modal-send.js"></script>