<secion class="swiper-section">
	<h2 class="swiper__main-title visually-hidden">Our benefits</h2>
	<div class="swiper">
		<ul class="swiper-wrapper">
			<li class="swiper-slide">
				<div class="swiper-slide__image">
					<!-- <img src="./images/slider-fix/slider-img-1.jpg" alt="slider-1"> -->
					<picture>
						<source
							srcset="./images/slider-fix/slider-img-1@1x.jpg 1x, ./images/slider-fix/slider-img-1@2x.jpg 2x" />
						<img src="./images/slider-fix/slider-img-1@1x.jpg" alt="slider-1" />
					</picture>
					<h2 class="swiper-title center">One place for everything you want</h2>
				</div>
			</li>
			<li class="swiper-slide">
				<div class="swiper-slide__image">
					<!-- <img src="./images/slider-fix/slider-img-2.jpg" alt="slider-1"> -->
					<picture>
						<source
							srcset="./images/slider-fix/slider-img-2@1x.jpg 1x, ./images/slider-fix/slider-img-2@2x.jpg 2x" />
						<img src="./images/slider-fix/slider-img-2@1x.jpg" alt="slider-1" />
					</picture>
					<h2 class="swiper-title">Best shop for buying <span>gaming products</span></h2>
				</div>
			</li>
			<li class="swiper-slide">
				<div class="swiper-slide__image">
					<!-- <img src="./images/slider-fix/slider-img-3.jpg" alt="slider-1"> -->
					<picture>
						<source
							srcset="./images/slider-fix/slider-img-3@1x.jpg 1x, ./images/slider-fix/slider-img-3@2x.jpg 2x" />
						<img src="./images/slider-fix/slider-img-3@1x.jpg" alt="slider-1" />
					</picture>
					<h2 class="swiper-title">High-quality products in lowest price</h2>
				</div>
			</li>
		</ul>
		<div class="swiper-pagination"></div>
	</div>
</secion>