    <section class="take-order">
        <h2 class="take-order__title">Take order</h2>
        <h2 class="take-order__title">Xiberia K9 PRO PC Headset</h2>
        <h3 class="take-order__title1">65,14 USD</h3>
        <h3 class="take-order__title2">55,14 USD</h3>
        <!-- <picture>
            <source
            media="(min-width:1280px)"
            srcset=""
            />
            <source
            media="(min-width:768px)"
            srcset=""
            />
            <img class="take-order__photo--secondary"
            srcset=""
            src="../images/logo.png"
            alt="photo"
            width=""
            height=""
            loading="lazy"
            />
          </picture> -->
        <ul class="take-order__list">
            <li class="take-order__item">
                <!-- <picture>
                    <source
                    media="(min-width:1280px)"
                    srcset=""
                    />
                    <source
                    media="(min-width:768px)"
                    srcset=""
                    />
                    <img class="take-order__photo--secondary"
                    srcset=""
                    src="../images/logo.png"
                    alt="photo1"
                    width=""
                    height=""
                    loading="lazy"
                    />
                  </picture> -->
            </li>
            <li class="take-order__item">
                <!-- <picture>
                    <source
                    media="(min-width:1280px)"
                    srcset=""
                    />
                    <source
                    media="(min-width:768px)"
                    srcset=""
                    />
                    <img class="take-order__photo--secondary"
                    srcset=""
                    src="../images/logo.png"
                    alt="photo2"
                    width=""
                    height=""
                    loading="lazy"
                    />
                  </picture> -->
            </li>
            <li class="take-order__item">
                <!-- <picture>
                    <source
                    media="(min-width:1280px)"
                    srcset=""
                    />
                    <source
                    media="(min-width:768px)"
                    srcset=""
                    />
                    <img class="take-order__photo--secondary"
                    srcset=""
                    src="../images/logo.png"
                    alt="photo3"
                    width=""
                    height=""
                    loading="lazy"
                    />
                  </picture> -->
            </li>
            <li class="take-order__item">
                <!-- <picture>
                    <source
                    media="(min-width:1280px)"
                    srcset=""
                    />
                    <source
                    media="(min-width:768px)"
                    srcset=""
                    />
                    <img class="take-order__photo--secondary"
                    srcset=""
                    src="../images/logo.png"
                    alt="photo4"
                    width=""
                    height=""
                    loading="lazy"
                    />
                  </picture> -->
            </li>
        </ul>
        <form class="take-order-form">
            <h3 class="take-order-form__title">CONTACT US</h3>
            <label class="take-order-form__label">Name
                <input class="take-order-form__input" type="text" name="name">
            </label>
            <label class="take-order-form__label">Email
                <input class="take-order-form__input" type="email" name="email">
            </label>
            <label class="take-order-form__label">Color Option
                <input class="take-order-form__input" type="text" name="color">
            </label>
            <label class="take-order-form__label">Quantity
                <input class="take-order-form__input" type="text" name="quantity">
            </label>
            <label class="take-order-form__label">Payment
                <input class="take-order-form__input" type="text" name="payment">
            </label>
            <label class="take-order-form__label">Leave your message
                <textarea class="take-order-form__textarea" name="feedback" rows="10"></textarea>
            </label>
            <button class="take-order-form__button" type="submit">BUY IT NOW</button>
            <button class="take-order-form__button" type="submit">ADD TO CARD</button>
        </form>
    </section>