<section class="take-order__section container">
    <h2 class="take-order__title">Take order</h2>
    <img class="image-upline" src="./images/upline.png" alt="upline">
    <img class="image-downline" src="./images/downline.png" alt="downline">
    <h2 class="take-order__title1">Xiberia K9 PRO PC Headset</h2>
    <div class="take-order__div">
        <div class="take-order__div1">
            <div class="take-order__div3">
                <picture>
                    <source
                    media="(min-width:1280px)"
                    srcset="./images/take-order/picture1-desk-1x.jpg 1x, ./images/take-order/picture1-desk-2x.jpg 2x"
                    />
                    <source
                    media="(min-width:768px)"
                    srcset="./images/take-order/picture1-tab-1x.jpg 1x, ./images/take-order/picture1-tab-2x.jpg 2x"
                    />
                    <img class="take-order__photo"
                    srcset="./images/take-order/picture1-1x.jpg 1x, ./images/take-order/picture1-2x.jpg 2x"
                    src="./images/take-order/picture1-1x.jpg"
                    alt="photo1"
                    width="288"
                    height="254"
                    loading="lazy"
                    />
                </picture>
            </div>
            <div class="take-order__div4">
                <h3 class="take-order__title2">65,14 USD</h3>
                <h3 class="take-order__title3">55,14 USD</h3>
            </div>
        </div>
        <div class="take-order__div2">
            <ul class="take-order__list">
                <li class="take-order__item">
                    <picture>
                        <source
                        media="(min-width:1280px)"
                        srcset="./images/take-order/picture2-desk-1x.jpg 1x, ./images/take-order/picture2-desk-2x.jpg 2x"
                        />
                        <source
                        media="(min-width:768px)"
                        srcset="./images/take-order/picture2-tab-1x.jpg 1x, ./images/take-order/picture2-tab-2x.jpg 2x"
                        />
                        <img class="take-order__photo--secondary"
                        srcset="./images/take-order/picture2-1x.jpg 1x, ./images/take-order/picture2-2x.jpg 2x"
                        src="./images/take-order/picture2-1x.jpg"
                        alt="photo2"
                        width="60"
                        height="62"
                        loading="lazy"
                        />
                    </picture>
                </li>
                <li class="take-order__item">
                    <picture>
                        <source
                        media="(min-width:1280px)"
                        srcset="./images/take-order/picture3-desk-1x.jpg 1x, ./images/take-order/picture3-desk-2x.jpg 2x"
                        />
                        <source
                        media="(min-width:768px)"
                        srcset="./images/take-order/picture3-tab-1x.jpg 1x, ./images/take-order/picture3-tab-2x.jpg 2x"
                        />
                        <img class="take-order__photo--secondary"
                        srcset="./images/take-order/picture3-1x.jpg 1x, ./images/take-order/picture3-2x.jpg 2x"
                        src="./images/take-order/picture3-1x.jpg"
                        alt="photo3"
                        width="60"
                        height="62"
                        loading="lazy"
                        />
                    </picture>
                </li>
                <li class="take-order__item">
                    <picture>
                        <source
                        media="(min-width:1280px)"
                        srcset="./images/take-order/picture4-desk-1x.jpg 1x, ./images/take-order/picture4-desk-2x.jpg 2x"
                        />
                        <source
                        media="(min-width:768px)"
                        srcset="./images/take-order/picture4-tab-1x.jpg 1x, ./images/take-order/picture4-tab-2x.jpg 2x"
                        />
                        <img class="take-order__photo--secondary"
                        srcset="./images/take-order/picture4-1x.jpg 1x, ./images/take-order/picture4-2x.jpg 2x"
                        src="./images/take-order/picture4-1x.jpg"
                        alt="photo4"
                        width="60"
                        height="62"
                        loading="lazy"
                        />
                    </picture>
                </li>
                <li class="take-order__item">
                    <picture>
                        <source
                        media="(min-width:1280px)"
                        srcset="./images/take-order/picture5-desk-1x.jpg 1x, ./images/take-order/picture5-desk-2x.jpg 2x"
                        />
                        <source
                        media="(min-width:768px)"
                        srcset="./images/take-order/picture5-tab-1x.jpg 1x, ./images/take-order/picture5-tab-2x.jpg 2x"
                        />
                        <img class="take-order__photo--secondary"
                        srcset="./images/take-order/picture5-1x.jpg 1x, ./images/take-order/picture5-2x.jpg 2x"
                        src="./images/take-order/picture5-1x.jpg"
                        alt="photo5"
                        width="60"
                        height="62"
                        loading="lazy"
                        />
                    </picture>
                </li>
            </ul>
        </div>
    </div>
    <form class="take-order-form">
        <h3 class="take-order-form__title">CONTACT US</h3>
        <label class="take-order-form__label">Name
            <input class="take-order-form__input" type="text" name="name">
        </label>
        <label class="take-order-form__label">Email
            <input class="take-order-form__input" type="email" name="email">
        </label>
        <label class="take-order-form__label">Color Option
            <input class="take-order-form__input" type="text" name="color">
        </label>
        <label class="take-order-form__label">Quantity
            <input class="take-order-form__input" type="text" name="quantity">
        </label>
        <label class="take-order-form__label">Payment
            <input class="take-order-form__input" type="text" name="payment">
        </label>
        <label class="take-order-form__label">Leave your message
            <textarea class="take-order-form__textarea" name="feedback" rows="10"></textarea>
        </label>
        <button class="take-order-form__button" type="button" data-modal-buy-open>BUY IT NOW</button>
        <button class="take-order-form__button" type="button" data-modal-add-open>ADD TO CARD</button>
    </form>
</section>